<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1020328603314-4s6uc8b6tfujr61j49sdhhepimfaa8m3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1020328603314-4s6uc8b6tfujr61j49sdhhepimfaa8m3</string>
	<key>API_KEY</key>
	<string>AIzaSyCv01H3BXn4wTQ6UJApY8Z_oZqFUPQ76FY</string>
	<key>GCM_SENDER_ID</key>
	<string>1020328603314</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ewen.Tinder</string>
	<key>PROJECT_ID</key>
	<string>matchapp-1d609</string>
	<key>STORAGE_BUCKET</key>
	<string>matchapp-1d609.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1020328603314:ios:f5725dfc1885ae2810a3ab</string>
</dict>
</plist>